@model TaskTrackingApp.Models.DeveloperDto
@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete this developer?</h2>

<!--<a href="/Developer/Delete/@Model.DevID" class="btn btn-danger">Confirm delete</a>
<a href="/Developer/List" class="btn btn-info">Cancel</a>
    -->
<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <form action="/Developer/Delete/@Model.DevID" method="POST">
                <input type="submit" value="Confirm Delete" class="btn btn-danger" />
            </form>
        </div>
        <div class="col-sm-2">
            <a href="/Developer/Details/@Model.DevID" class="btn btn-info">Cancel</a>
        </div>

    </div>
</div>
