@model TaskTrackingApp.Models.DeveloperDto
@{
    ViewBag.Title = "Edit";
}

<h2>Update developer</h2>
<form action="/Developer/Update/@Model.DevID" method="POST">
    <div style="display:none;">
        @* Pass through the animal ID *@
        <input type="text" name="DevID" value="@Model.DevID" />
    </div>
    <div>
        <label>First name:</label> <input type="text" name="DeveloperFirstName" value="@Model.DeveloperFirstName" />
    </div>
    <div>
        <label>Last name:</label> <input type="text" name="DeveloperLastName" value="@Model.DeveloperLastName" />
    </div>
    <div>
        <label>Position:</label> <input type="text" name="DeveloperPosition" value="@Model.DeveloperPosition" />
    </div>
    <div>
        <input type="submit" value="Update Developer" />

    </div>
</form>
