
@{
    ViewBag.Title = "Create";
}

<h2>Create a Developer</h2>
<form action="/Developer/Create" method="POST">
    <div class="form-group row">
        <label for="DeveloperFirstName" class="col-sm-2">First name:</label>
        <div class="col-sm-10">
            <input type="text" name="DeveloperFirstName" id="DeveloperFirstName" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label for="DeveloperLastName" class="col-sm-2">Last name:</label>
        <div class="col-sm-10">
            <input type="text" name="DeveloperLastName" id="DeveloperLastName" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label for="DeveloperPosition" class="col-sm-2">Position:</label>
        <div class="col-sm-2">
            <input type="text" name="DeveloperPosition" id="DeveloperPosition" class="form-control" />
        </div>
    </div>
    <div>
        <input type="submit" class="btn btn-primary"  value="Add developer" />
    </div>

    <!--
    /Skill/AssociateSkillWithDeveloper/DeveloperID/SkillID
    /Skill/UnassociateSkillWithDeveloper/DeveloperID/SkillID
    /Assignment/AssignTaskToDeveloper/DeveloperID/AssignmentID
    -->
</form>
