@model IEnumerable<TaskTrackingApp.Models.SkillDto>
@{
    ViewBag.Title = "List";
}
<a href="/Skill/New">Create a new skill</a>
<h2>List of Skills</h2>
@foreach(var skill in Model)
            {
<div>
    <a href="/Skill/Details/@skill.SkillID">@skill.SkillName</a>
</div>
                
            }
