@model TaskTrackingApp.Models.AssignmentDto
@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete this task?</h2>
<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <form action="/Assignment/Delete/@Model.AssignmentID" method="POST">
                <input type="submit" value="Confirm Delete" class="btn btn-danger" />
            </form>
        </div>
        <div class="col-sm-2">
            <a href="/Assignment/List" class="btn btn-info">Cancel</a>
        </div>
        

        <!--<a href="/Assignment/Delete/@Model.AssignmentID" class="btn btn-danger">Confirm Delete</a>-->
        
    </div>
</div>



